<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello Ning ning er!</title>
    <link rel="stylesheet" href="./front/bootstrap.css">
    <style>
      body { padding-bottom: 90px; }
      .download-box { position: fixed; top: 0; bottom: 41px; right: 0; width: 190px; overflow: auto; background: #fff; box-shadow: 0 0 1px #ccc; transform: translateX(100%); transition: 400ms; }
      .download-box.actived { transform: translateX(0); }
      .btn-download { min-width: 74px; }
    </style>
  </head>
  <body>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <!-- We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->

    <div id="app" class="container-fluid">
      <div class="mt-2 btn-group d-flex align-items-center">
        <div class="btn-group">
          <span class="btn btn-light btn-sm btn-dev-tools" @click="toggleDevTools">DevTools</span>
          <span class="btn btn-light btn-sm" onclick="window.location.reload(true)">刷新</span>
          <!-- <span class="btn btn-light btn-sm" @click="chooseSaveFilePath">选择下载路径</span> -->
        </div>
        <div class="ml-2 path">
          <span class="btn btn-light btn-sm" @click="chooseSaveFilePath">图片保存路径 &gt;&gt; {{downloadPath ? downloadPath : '--请选择下载路径--'}}</span>
        </div>
      </div>
      <div class="select-box mt-2">
        <div class="btn-group">
          <span
          class="btn btn-sm btn-download"
          :class="showDownloadPanel ? 'btn-danger' : 'btn-info'"
          @click="toggleDownloadPanel">{{showDownloadPanel ? '关闭列表' : '下载列表'}}</span>
          <span class="btn btn-info btn-sm" @click="uploadFile">上传文件</span>
          <span class="btn btn-success btn-sm" @click="pickAll(true)">全选</span>
          <span class="btn btn-secondary btn-sm" @click="pickAll(false)">全不选</span>
          <span class="btn btn-primary btn-sm" @click="startDownload()">开始下载</span>
        </div>
        <div class="mt-2" v-if="filename">{{filename}}</div>
        <div class="mt-2">
          <span
            v-for="item, idx of downloadArr"
            class="btn btn-sm mr-2 mb-2 summary"
            :class="item.pick ? 'alert-info' : 'alert-secondary'"
            @click="pickItem(item, idx)">
            <span
              class="badge badge-pill"
              :class="item.group ? 'badge-dark' : 'badge-danger'">
              {{idx + 1}}</span>
            {{item.OrderNumber}}
          </span>
        </div>
      </div>

      <div :class="['download-box', showDownloadPanel ? 'actived' : '']">
        <div
          v-for="item in downloadActArr"
          class="alert download-item rounded-0 "
          :class="item.error ? 'alert-danger' : 'alert-warning'"
        >
          <span class="badge badge-light badge-pill">{{item.idx + 1}}</span>
          {{item.OrderNumber}}
        </div>
      </div>

      <div class="fixed-bottom alert alert-info rounded-0 d-flex m-0 p-1 pr-2 pl-2">
        <div class="flex-fill">
          {{logInfo}}
        </div>
        <div class="flex-fill text-right">
          <span class="">当前 {{local_version}}</span>
          <span class="ml-2">最新 {{remote_version}}</span>
          <span
            class="ml-2 btn btn-sm"
            :class="remote_version !== local_version ? 'btn-success' : 'btn-light'"
            @click="upgradeApp"
          >升级</span>
        </div>
      </div>
    </div>



    <script src="./front/vue.js"></script>
    <script>
      // You can also require other files to run in this process
      const { config }  = require('./config')
      require('./renderer.js')
      require('./version.js')

      if (config.env === 'development') {
        // Connect to server process
        require('electron-connect').client.create()
      }
    </script>
  </body>
</html>
